.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# GOOGLE MAPS API KEY - DO NOT PUBLISH
VITE_GOOGLE_MAPS_API_KEY=AIzaSyCYhgUmsG3R20HhuB3Jk4f8OzLb9u5Zih0