<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4ad53ee-cae8-4b2c-b110-d6db0abfb740" Alias="FAQ Page - Q/A - Block List" Level="1">
  <Info>
    <Name>FAQ Page - Q/A - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6c39b77c-1f85-476b-bc21-cd73f8ef1d2b",
      "label": "Question"
    }
  ]
}]]></Config>
</DataType>