<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a3e01ac-b389-470c-b2f1-834a35cc42b3" Alias="FAQ Question Item - Question - Text Box" Level="1">
  <Info>
    <Name>FAQ Question Item - Question - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>