.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerCard {
  background-color: #3f49a5;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.registerCard h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.registerForm {
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroup label {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.formGroup input {
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #c5d3d8;
  color: white;
  font-size: 1rem;
}

.formGroup input:focus {
  outline: none;
  border-color: #007bff;
}

.registerBtn {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  background-color: #797da5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.registerBtn:hover {
  background-color: #0056b3;
}
